<% include header %>

	<div class="content">
		<div class="about_data">
			<h2>欢迎加入我们</h2>
			<p>周杏鹏（国家2级）教授，男，博士生导师。1982年1月南京工学院（现为东南大学）自动控制系研究生毕业（获工学硕士学位）后留校工作至今
			    </p>
			<div class="about_desc">
				<img src="./images/img1.jpg" alt="" />
				<div class="about_desc_data">
					<p><span>实验室有多个项目。</span>近年来在老师的带领下主持完成了国家、省、市级重点科研项目十余项（均被评为国内领先及以上技术水平），
					        企业委托新型智能化仪器、嵌入式系统、自动化与信息化系统研发科研课题8项；获国家、部省级科技进步奖和教学奖8项；已获受权国家发明专利21项。</p>
					<p>目前主持、承担国家星火科技计划重大、江苏省科技支撑重点和企业委托项目6项。<span class="about_desc"> </span></p>
				</div>
				<div class="clear"></div>
			</div>
			<div class="about_desc">
				<img src="./images/img2.jpg" alt="" />
				<div class="about_desc_data">
					<p>研究生招生与培养</p>
					<p><span>（按一级学科）控制科学与工程、（按二级学科）检测技术与自动化装置。</span>
						主要研究方向：1、基于节能、降耗的工业在线检测、优化控制系统设计。2、智能化仪器与高性价比嵌入式系统设计
						3、无线或有线远程测控（传感网、物联网）信息系统设计与开发。
						4、工业自动化与信息化融合技术研究与系统设计。
					</p>
				</div>
				<div class="clear"></div>
			</div>
			<p><span>其他的项目</span>介绍
				</p>
		</div>
	</div>

	<% include footer %>