<% include header %>

	<div class="content">
		<div class="about_data">
			<h2>联系我们</h2>
			<p>如果在实验中出现什么问题，你可以通过邮件或者电话联系我们。此网站也有我们的团队介绍，如果你
			     想加入我们也可以和我们联系。我们欢迎有志人士来电。</p>
			<div class="feedback">
				<div class="form_1">
					<form>
						<label>姓名 :</label>
						<input type="text" />
						<label>邮件 :</label>
						<input type="text" />
						<label>电话 :</label>
						<input type="text" />
						<input type="submit" value="发送">
					</form>
				</div>
				<div class="form_2">
					<form>
						<label>描叙 :</label>
						<textarea> </textarea>
					</form>
				</div>
				<div class="clear"></div>
			</div>
			<h4 style="font-size:14px;color:#75991F;text-decoration:underline;margin-top:39px;">这里找到我们 :</h4>
			<div class="map">
				<iframe width="657" height="230" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" 
					src="http://map.sogou.com/?pid=sogou-site-664dd858db942cad&ie=utf8&lq=&h_search_ext=%7B%22count%22%3A4%2C%22list%22%3A%5B%7B%22txt%22%3A%22%5Cu65e5%5Cu5c0f%5Cu5b66%5Cu751f%5Cu5973%5Cu56e2%5Cu8d70%5Cu7ea2%22%2C%22cid%22%3A%2228673341%22%7D%2C%7B%22txt%22%3A%22%5Cu7fdf%5Cu51cc%5Cu6652%5Cu5927%5Cu809a%5Cu5b55%5Cu7167%22%2C%22cid%22%3A%2228673342%22%7D%2C%7B%22txt%22%3A%22%5Cu671d%5Cu79f0%5Cu4e0d%5Cu5148%5Cu4f7f%5Cu7528%5Cu6838%5Cu6b66%22%2C%22cid%22%3A%2228673343%22%7D%2C%7B%22txt%22%3A%22%5Cu5f20%5Cu5b50%5Cu8431%5Cu633a%5Cu5b55%5Cu809a%5Cu901b%5Cu8857%22%2C%22cid%22%3A%2228673344%22%7D%2C%7B%22txt%22%3A%22%5Cu52a9%5Cu95fa%5Cu871c%5Cu79c1%5Cu5954%5Cu906d%5Cu5904%5Cu51b3%22%2C%22cid%22%3A%2228673345%22%7D%2C%7B%22txt%22%3A%22%5Cu7f57%5Cu5fd7%5Cu7965%5Cu83b7%5Cu5973%5Cu53cb%5Cu8868%5Cu767d%22%2C%22cid%22%3A%2228673346%22%7D%2C%7B%22txt%22%3A%22%5Cu4e24%5Cu5c11%5Cu5e74%5Cu6253%5Cu6b7b%5Cu6d41%5Cu6d6a%5Cu6c49%22%2C%22cid%22%3A%2228673347%22%7D%2C%7B%22txt%22%3A%22%5Cu6559%5Cu6388%5Cu88ab%5Cu7591%5Cu6050%5Cu6016%5Cu5206%5Cu5b50%22%2C%22cid%22%3A%2228673348%22%7D%2C%7B%22txt%22%3A%22%5Cu5409%5Cu6797%5Cu5b66%5Cu751f%5Cu96c6%5Cu4f53%5Cu4e2d%5Cu6bd2%22%2C%22cid%22%3A%2228673349%22%7D%2C%7B%22txt%22%3A%22%5Cu7a7a%5Cu59d0%5Cu94f6%5Cu884c%5Cu5361%5Cu88ab%5Cu76d7%5Cu5237%22%2C%22cid%22%3A%2228673350%22%7D%5D%7D&searchRadio=on#c=13223957.03125,3748080.078125,17&lq=%u4E1C%u5357%u5927%u5B66%u56DB%u724C%u697C%u6821%u533A%u81EA%u52A8%u5316%u5B66%u9662&where=13221300.78125,3746625,13226058.59375,3749593.75,0&page=1,10">
				</iframe>
				<br/>
				<small><a href="http://map.sogou.com/?pid=sogou-site-664dd858db942cad&ie=utf8&lq=&h_search_ext=%7B%22count%22%3A4%2C%22list%22%3A%5B%7B%22txt%22%3A%22%5Cu65e5%5Cu5c0f%5Cu5b66%5Cu751f%5Cu5973%5Cu56e2%5Cu8d70%5Cu7ea2%22%2C%22cid%22%3A%2228673341%22%7D%2C%7B%22txt%22%3A%22%5Cu7fdf%5Cu51cc%5Cu6652%5Cu5927%5Cu809a%5Cu5b55%5Cu7167%22%2C%22cid%22%3A%2228673342%22%7D%2C%7B%22txt%22%3A%22%5Cu671d%5Cu79f0%5Cu4e0d%5Cu5148%5Cu4f7f%5Cu7528%5Cu6838%5Cu6b66%22%2C%22cid%22%3A%2228673343%22%7D%2C%7B%22txt%22%3A%22%5Cu5f20%5Cu5b50%5Cu8431%5Cu633a%5Cu5b55%5Cu809a%5Cu901b%5Cu8857%22%2C%22cid%22%3A%2228673344%22%7D%2C%7B%22txt%22%3A%22%5Cu52a9%5Cu95fa%5Cu871c%5Cu79c1%5Cu5954%5Cu906d%5Cu5904%5Cu51b3%22%2C%22cid%22%3A%2228673345%22%7D%2C%7B%22txt%22%3A%22%5Cu7f57%5Cu5fd7%5Cu7965%5Cu83b7%5Cu5973%5Cu53cb%5Cu8868%5Cu767d%22%2C%22cid%22%3A%2228673346%22%7D%2C%7B%22txt%22%3A%22%5Cu4e24%5Cu5c11%5Cu5e74%5Cu6253%5Cu6b7b%5Cu6d41%5Cu6d6a%5Cu6c49%22%2C%22cid%22%3A%2228673347%22%7D%2C%7B%22txt%22%3A%22%5Cu6559%5Cu6388%5Cu88ab%5Cu7591%5Cu6050%5Cu6016%5Cu5206%5Cu5b50%22%2C%22cid%22%3A%2228673348%22%7D%2C%7B%22txt%22%3A%22%5Cu5409%5Cu6797%5Cu5b66%5Cu751f%5Cu96c6%5Cu4f53%5Cu4e2d%5Cu6bd2%22%2C%22cid%22%3A%2228673349%22%7D%2C%7B%22txt%22%3A%22%5Cu7a7a%5Cu59d0%5Cu94f6%5Cu884c%5Cu5361%5Cu88ab%5Cu76d7%5Cu5237%22%2C%22cid%22%3A%2228673350%22%7D%5D%7D&searchRadio=on#c=13223957.03125,3748080.078125,17&lq=%u4E1C%u5357%u5927%u5B66%u56DB%u724C%u697C%u6821%u533A%u81EA%u52A8%u5316%u5B66%u9662&where=13221300.78125,3746625,13226058.59375,3749593.75,0&page=1,10" 
					style="color:#75991F;text-align:left;font-size:12px">通过大图查看</a></small>
			</div>
		</div>
	</div>

<% include footer %>