<% include header %>
  
<div class="content">
    <div class="content_left">
	   	<div class="grid1">
	   		<h2>让实验更简单</h2>
			   	<div class="grid1_desc">
			   		<ul style="font-family: 'curlz mt'; font-weight: 100; font-size: small; line-height: 170%;">
			   			<li>1.在这里你可以通过你的电脑来做实验</li>
        				<li>2.你可以通过电脑实时地看到实验现场</li>
        				<li>3.你可以灵活地控制你的时间</li>
        				<li>4.你可以在线阅读使用指南，轻松地掌握实验方法</li>
        				<li>5.你可以去真实实验室前去这里练习，或者实验后再在这里继续熟悉实验</li>
        				<li>6.在这里你可以做实验相关的练习，熟练实验用到的知识点</li>
			   		</ul>
			   </div>
	   	</div>
		   	<div class="grid2">
		   		<h2>注意事项</h2>
		   		<p>任何实验都有操作规范，做远程实验也一样，你必须遵守规范来操作实验</p>
			   		<div class="grid2_data">
			   			<div class="grid2_desc">
			   				<ul style="font-family: 'curlz mt'; font-weight: 100; font-size: small; line-height: 170%;">
			   					<li>1.登录服务器后只能进行实验操作，不能进行实验外的其他操作，更不能对实验服务器进行破坏性的操作；</li>
			   					<li>2.实验过程中先做好实验设计，协调好实验操作及数据采集时间，实验时间过长；</li>
  								<li>3.实验操作要有根据，避免频繁地操作，过于频繁的操作有损实验仪器；</li>
  								<li>4.实验完成后退出实验系统，减少实验服务器的负担；</li>
			   				</ul>
			   				<p><span>若实验中出现问题请联系我们</span>.</p>
			          </div>
			    	<img src="./images/grid2_img.jpg" alt="" />
			    <div class="clear"></div>
			 </div>
		 </div>
   </div>
   <div class="content_right">
	   	<div class="grid3">
	   		<p><span>项目支持：</span>本研究受到江苏省科技计划项目“一种可远程操作流量/液位检测教学实验装置”支持，计划经过2年的建设实施，将要达到以下主要技术指标及经济指标： </p>
	   		<img src="./images/grid3_img3.jpg" alt="" />
	       <p>可实现多种流量/液位测量实验，并支持Internet远程访问控制和监视；平台控制器控制变频器输出频率可变的三相交流电驱动调速水泵以不同转速运行，实现流量可调；
	       	平台控制器控制其他部件可测量以下变量：基于超声波时差法和涡街法的管道瞬时或累计流量，基于质量法的平均流量，基于超声波法的称量容器液位；
	       	同时，可进行变频流速控制，液位控制等多种实验；远程计算机通过Internet远程访问网络摄像机和平台控制器，实现远程监视设备运行状况并操作平台进行各种实验。</p>
	       <p><span></span> </p>   	
	   	</div>
		   	<div class="grid4">
		   		<p><span>建设团队介绍</span></p>
		        <p>本研究项目是在东南大学自动化学院周杏鹏教授以及王晓俊老师的带领下，以及几位研究生组成的团队完成。</p>
		       		<ul>
		            	<li><a href="http://automation.seu.edu.cn/Articles.aspx?id=623">周杏鹏教授介绍</a></li>
		              	<li><a href="http://automation.seu.edu.cn/Articles.aspx?id=1342">王晓俊老师介绍</a></li>
		              	<li><a href="#">研究生成员</a></li>
		       		</ul>
		   	</div>
    	</div>
      <div class="clear"></div>
   </div>
   
<% include footer %>
