 <% include header %>
 
 <div class="content">
   	<div class="about_data">
   		<h2>项目情况</h2>
   		<p>此项目为江苏省精品课程重点项目，基于实际教学应用开发的基于web的远程流量/液位综合实验平台智能考评系统。
   		    该系统包括流量/液位检测教学实验平台（简称实验平台）、数据中心和远程操作终端。用户油远程操作终端经互联网操作实验平台，进行多种流量
   		   、液位检测实验，实验过程中的状态量及结果保存在数据中心。实验平台由中央控制模块、管道流速调节系统、流量计、换向器、质量液位实验单元、网络摄像机、
   		   路由器等组成。</p>
		    <div class="services_data">
		    	<h2>专利情况<span> </span></h2>
		    	<p>一种可远程操作流量/液位检测教学实验平台系统，实现多种流量/液位检测远程实验。</p>
				    <div class="services_desc">
					    <div class="services_desc_data">
					     	<p>根据权利要求的可远程操作流量/液位检测教学实验平台系统，其特征在于：所述实验平台包含管路流量调节系统，
					     	    中央控制模块、流量计、换向器、质量液位实验单元。网络摄像机和路由器。</p>
					     <div>
					     	<h3></h3>  
					    </div>  
					 </div>
				    	<img src="./images/services_img1.jpg" alt="" />
				    <div class="clear"></div>
				</div> 
				    <div class="services_desc">
				    	<div class="services_desc_data">
				    		 <p>根据权利要求，其特征在于：所述数据中心包括数据库服务器和应用服务器；应用服务器与实验平台、数据库服务器、各种远程
				    		     终端通过以太网连接；应用服务器上运行的服务器程序将远程实验平台上传的数据校验处理后存入数据库服务器，当远程终端
				    		   请求数据时将正确数据从数据库中取出来派发。</p>
				     	   		<div>
					     			<h3></h3>  
					    		</div>
				   		 </div>
				    	<img src="./images/services_img2.jpg" alt="" />
				    <div class="clear"></div>
				 </div> 
				    <div class="services_desc">
				    	<div class="services_desc_data">
				     		<p>特征：所述远程操作终端如计算机、手机和PAD通过相应终端客户端程序、Internet与应用服务器连接；客户端界面包括实时视频监控区域和组态
				     		    教学实验平台图,组态教学实验平台图上显示运行状态，同时支持查看测量数据和控制参数修改。</p>
							     <div>
							     	<h3></h3>  
							    </div>  
				         </div>
				      <img src="./images/services_img3.jpg" alt="" />
				    <div class="clear"></div>
				 </div> 
		    </div>
   	  </div>
    </div>
    
<% include footer %>