body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.exptitle
{
    font-size: 45px;
    font-weight: bold;
    color:#CCCCCC;
    position: absolute;
    left:100px;
    top:90px;
}

/*实时视频框*/
#video-canvas
{
    cursor: Pointer;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
#liveVideo
{
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

/*警告弹框*/
.warning
{
    position: absolute;
    margin-left: 290px;
    top: 200px;
    height: 320px;

    /*初始状态都是隐藏*/
    visibility: hidden;
    opacity: 0;

}

.p_warning
{
    position:relative;
    font-size: 30px;
    line-height: 40px;
    font-weight: bolder;
    margin: 0 auto
}

.tableFirstLine
{
    font-weight: bolder;
}

/*仪器介绍弹框*/
.instrumentIntro
{
    position: absolute;
    left: 25%;
    right: 25%;
    top: 100px;
    height: 500px;
    align: center;

    overflow-x: hidden;
    overflow-y: scroll;
    background-color:rgba(255, 255, 255, 0.9);

    /*初始状态都是隐藏*/
    visibility: hidden;
    opacity: 0;

    /*淡入淡出效果*/
    /*
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    */


    /*首行缩进*/
    text-indent: 2em;
}

hr
{
    height: 1px;
    border: 0;
    border-top: 1px solid #333333;
    margin: 1em 0;
    padding: 0;

}
.instrumentIntroParagraph
{
    padding-left: 2%;
    padding-right: 2%;
}

/***********************变频器拖动条***************************/
.Slider input[type=range] {
    -webkit-appearance: none;
    position: absolute;
    margin-top: 10px;
    width: 150px;
    height:4px;
    background: transparent;
}

/*条子*/
.Slider input[type=range]:focus {
    outline: none;
}
.Slider input[type=range]::-webkit-slider-runnable-track {
    height: 5px;
    cursor: pointer;
    background: transparent;
    border-radius: 0px;
    border: 0px solid #000101;
}

/*滑块*/
.Slider input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px;
    height: 0px;
    width: 0px;
    border-radius: 2px;
    background: #cccccc;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-transition: all 0.1s ease;
    margin-top: 2px;
}

.Slider:hover #frequencySlider::-webkit-slider-thumb
{
    height: 10px;
    width: 22px;
    margin-top: -2px;
    margin-left: 0px;
}

.Slider:active #frequencySlider::-webkit-slider-thumb
{
    height: 10px;
    width: 22px;
    margin-top: -2px;
    margin-left: 0px;
}


.Slider .sRange
{
    background: rgba(200, 200, 200, 0.3);
    width:150px;
    height:2px;
    position: absolute;
    margin-top: 11px;

}


.Slider .sValidRange
{
    background: #EEEEEE;
    width:90px;
    height:2px;
    position: absolute;
    margin-top: 11px;

}


/***********************************************************************************************************************************************/

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.button {
    color: #FFFFFF;
    border-radius: 4px;
    background-color: #42DD8E;
    position: absolute;
    left: 16%;
    top: 46%;
}

.log {
    position: absolute;
    right: 12%;
    top : 34%;
}

.login{
    width: 25ch;
    height: 30px;
    display: block;
}

/*********container部分****************/
.banner-bottom-section{
    margin-right: auto;
    margin-left: auto;
}
.container {
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
}
/*
@media (min-width: 768px) {
  body {
    width: 750px;
  }
}
@media (min-width: 992px) {
  body {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  body {
    width: 1170px;
  }
}
*/

.htitle {
    text-align: center;
    margin: 17px auto;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-size: xx-large;
}

.setc {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 22%;
}

.way {
    float:left;
    width: 30%;
    height:100px;
    border: 1px solid #808080;
    margin: 10px;
    background-color: #FFFFFF;
}

.way:link {
    background-color: #FFFFFF;
}
.way:visited {
    background-color: #FFFFFF;
}
.way:hover {
    background-color: #ded5d5;
}
.way:active {
    background-color: #aa8e70;
}


.way img {
    float: left;
}
.way p {
    color: #000000;
    margin: 20px auto;
}

.way span {
    color: #1ade30;
    font-family: Cambria;
    font-size: large;
    top: 20px;
}

.text {
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: large;
    line-height: 120%;
    text-indent: 1cm;
    width: 90%;
}

.text img {
    float: left;
    margin: auto 30px;
}

.couse {
    margin: 20px 20px;
    width: 20%;
    float:left;
}

.couse_button img {
    margin: 0px 10px;
    width: 20px;
    height: 20px;
}

.couse_button button{
    position: relative;
    left: 100px;
    color: #FFFFFF;
    border-radius: 20px;
    background-color: #22BE42;
}

.couse_text {
    margin: 10px auto 8px 10px;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}

.school {
    float: left;
    margin: 20px 20px;
    width: 20%;
}

.school img {
    width: 70px;
    height: 70px;
    float: left;
}

.school_peo {
    margin: 3px auto 3px 10px;
    font-weight: 100;
    font-size: smaller;
}

.all {
    position: absolute;
    left: 40%;
}

.b_text {
    width: 25%;
    color: #FFFFFF;
    float: left;
}
.b_text li {
    padding-left:5%;
    padding-right: 5%;
}

.b_text a:link{
    color: #FFFFFF;
}
.b_text a:visited{
    color: #FFFFFF;
}
.b_text a:hover{
    color: #808080;
    text-decoration: none;
}
.b_text a:active{
    color: #41bb80;
}

.power {
    color: #FFFFFF;
    position: absolute;
    top:200px;
    left: 40%;
}