
li{
display:inline;
list-style:none;
list-style-position:outside;
text-align:center;
font-weight:bold;
float:left;
}

a
{
	text-decoration:none;
	color:#eeeeee;
}
a:hover
{
    text-decoration:none;
}

#top{
	width:1580px;
	height:55px;
	z-index:1;
}
.list{
	line-height:20px;
	text-align:left;
	font-weight:normal;
	background-color:rgba(119, 136, 153, 0.6);
	color: #222222;
}

.menu{
    width:170px;
    height:55px;
    background-color:rgba(255,255,255,0.0);
    color:#eeeeee;
    font-size: 15px;
    overflow-y:hidden;
    cursor:hand;
    transition: height 0.2s ease-in-out;
    -moz-transition: height 0.2s ease-in-out;
    -webkit-transition: height 0.2s ease-in-out;
    -o-transition: height 0.2s ease-in-out;
}

.menu:hover
{
    background-color:rgba(255,255,255,0.2);
}
#menuLesson:hover
{
    height:155px;
}
#menuExp:hover
{
    height:175px;
}


#menuReport:hover
{
    height:95px;
}

.menuItem
{
    display:block;
    text-align:center;
    height: 20px;
    color: #ffffff;
}
.menuItem:hover
{
    background-color:#445566;
    font-weight: bold;
    color: #ffffff;
}

#userName
{
    height: 55px;
    color: #888888;
    font-size: 15px;
    line-height: 55px;
    font-weight: 600;
}